[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
whitenoise = "*"
django-crispy-forms = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
pillow = "*"

[requires]
python_version = "3.5.2"
